@use '/src/styles/constants/colors';
@use '/src/styles/constants/breakpoints';
@use '/src/styles/constants/positions';

.app {
  position: relative;
  min-width: breakpoints.$MD;
  min-height: 100vh;
  color: colors.$WHITE;
  background: linear-gradient(135deg, #ff008a, #ff462b);
}

.pages {
  padding: 48px 36px;
}

main {
  position: fixed;
  top: positions.$MAIN_TOP;
  left: calc(50% - breakpoints.$MD / 2);
  width: breakpoints.$MD;
  max-width: breakpoints.$MD;
}
