@use '/src/styles/constants/colors';
@use '/src/styles/constants/breakpoints';
@use '/src/styles/constants/sizes';
@import '/src/styles/mixins/text';

.searchBar {
  position: sticky;
  top: 0;
  height: sizes.$H_SEARCHBAR;
  background-color: colors.$WHITE;

  form {
    display: grid;
    grid-template-columns: 1fr 80px;
    padding: 16px 0 16px 32px;
  }

  button {
    font-size: 16px;
    @include gripColorText;
  }
}
