@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/positions';
@import '/src/styles/mixins/text';

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: calc(100vh - positions.$MAIN_TOP - sizes.$H_SEARCHBAR - sizes.$H_GNB);
  overflow: scroll;
  background-color: colors.$BLACK;
}
