@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/breakpoints';
@import '/src/styles/mixins/text';

.gnb {
  position: fixed;
  bottom: 0;
  left: calc(50% - breakpoints.$MD / 2);
  display: flex;
  justify-content: center;
  width: breakpoints.$MD;
  height: sizes.$H_GNB;
  background-color: colors.$WHITE;
  border-top: 1px solid colors.$GRAYE;

  ul {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  a {
    font-size: 18px;
    font-weight: 600;
    color: colors.$BLACK;

    &:hover,
    &.isActive {
      @include gripColorText;
    }
  }
}
